/** content a 100% height para que el mapa ocupe toda la pantalla */
html,
body,
.ui-page {
  height: 100%;
  margin: 0;
  padding: 0;
}
.ui-page,
.ui-page * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#inicio .ui-header .ui-title{
  margin: 0 5% !important;
}
.ui-page .ui-content {
  height: inherit;
}
#mapa .ui-content{padding:0}
/****/
li>a.ui-btn{
    white-space: normal !important;
    font-size: 14px !important; 
}
.listaDistancia {
  margin-right: 3em !important;
}
.listaFiltrada {
    padding-top : 0.9em;
}
.listaFiltrada form {
    position : fixed;
    top      : 2.2em;
    left     : 0;
    width    : 100%;
    z-index  : 1;
}
td.value{
  white-space: normal!important;
}
